<h1>{{event.eventName}} ({{event.eventYear}})</h1>
<p><strong>Country:</strong> {{country.countryName}}</p>
<h2>US Actions</h2>
<ul>
  {{#each usActions}}
  <li>{{this.actionName}}</li>
  {{/each}}
</ul>