<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
li::marker {
  color: #28a745;
}
  p, h1, h2, h3, a, ul, li, nav-link {
    color: #28a745;}

a:hover {
  color: #0d5d20;
}
</style>



<div class="event">
<h1>Events</h1>
<a href="/events/form"></a>
<a href="/events/event"></a>
<h2>A list of events the United States was involved in</h2>

{{#each events}}
<li>
  <ul>
  <a href="/events/show/{{this.id}}"><b>{{this.eventYear}}</b>  -  {{this.eventName}} </a>
  </ul>
</li>
{{/each}}
</div>

<br>
<br>
