<h1>Events</h1>
<a href="/events/form"></a>
<h2>A list of events the United States was involved in</h2>

{{#each events}}
<li>
<a href="/events/form?id={{this.id}}">{{this.id}}-{{this.eventName}} </a>

</li>
{{/each}}
