<h1>Country</h1>

  {{#if country}}
    <div>
      <h2><b></b>{{country.country_name}}</b>  -  {{country.country_name}}</h2>
      <input type="hidden" name="id" value="{{event.id}}">
    </div>
  {{/if}}