<h1>Countries</h1>
<a href="/countries/form"></a>
<h2>A list of countries interfered by the United States</h2>

{{#each countries}}
<li>
<a href="/countries/form?id={{this.id}}">{{this.countryName}} </a>

</li>
{{/each}}
