<style>
    
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
li::marker {
  color: #28a745;
}
  p, h1, h2, h3, a, nav-link {
    color: #28a745;}
</style>

<h1>Countries</h1>
<a href="/countries/form"></a>
<h2>A list of countries interfered by the United States</h2>

{{#each countries}}
<li>
<a href="/events/forms/{{this.id}}"><b>{{this.countryName}}</b> </a>
  <a href="/authors/edit?id={{this.id}}">edit</a>


</li>
{{/each}}
