<style>

li::marker {
  color: #28a745;
}
  p, h1, h2, h3, a, nav-link {
    color: #28a745;}

    a:hover {
  color: #0d5d20;
}
</style>

<h1>Countries</h1>
<a href="/Countries/form"><h2>Add a new Country</h2></a>
<h2>A list of countries interfered by the United States</h2>

{{#each countries}}
<li>
  <ul>
<a href="/countries/show/{{this.id}}"><b>{{this.countryName}}</b> </a>
  <a href="/countries/edit?id={{this.id}}">edit</a>
  </ul>
</li>
{{/each}}
