
<h1>US Action Glossary</h1>

  {{#if us_action}}
    <div>
      <h2>{{us_action.action_name}},{{us_action.action_description}}</h2>
      <input type="hidden" name="id" value="{{us_action.id}}">
    </div>
  {{/if}}
  
