<h1>US Action Glossary</h1>
<a href="/us_actions/form"></a>
<h2>A glossary list of US Actions</h2>

{{#each countries}}
<li>
<a href="/us_actions/form?id={{this.id}}">{{this.actionName}}, {{this.actionDescription}} </a>

</li>
{{/each}}
