<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }

  p, h1, h2, h3, a, nav-link {
    color: #28a745;}
</style>
<h1>Individuals</h1>
<a href="/individuals/form"></a>
<h2>A list of individuals involved with the Events</h2>

{{#each individuals}}
<li>
<a href="/individuals/form?id={{this.id}}"><b>{{this.individualName}}</b>  -   {{this.individualRole}} </a>

</li>
{{/each}}
