<style>

li::marker {
  color: #28a745;
}
  p, h1, h2, h3, a, ul, li, nav-link {
    color: #28a745;}
</style>


<h1>Individuals</h1>
<a href="/individuals/form"></a>
<h2>A glossary list of individuals involved with events, the United States interfered in</h2>

{{#each individuals}}
<li>
<ul>
<b>{{this.individualName}}</b>  -   {{this.individualRole}} </a>
</ul>
</li>
{{/each}}

<br>
<br>

